<!DOCTYPE HTML>
<html lang="en">

<head>
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-E00L9PT3V9"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-E00L9PT3V9');
  </script>
  <title>{{ site.name }}</title>

  <meta content="text/html; charset=utf-8" http-equiv="Content-Type">

  <meta name="author" content="{{ site.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

</head>

<body>
  <table style="width:100%;max-width:800px;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
    <tr style="padding:0px">
      <td style="padding:0px">
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr style="padding:0px">
            <td style="padding:5px 2.5%;width:60%;vertical-align:middle">
              <h1>
                Jianhao Huang
              </h1>
              <p>Hi, I am Jianhao Huang (黄健浩). I am a first-year Ph.D. in Computer Science department of UCLA, advised by Prof. <a href="https://baharanm.github.io/">Baharan Mirzasoleiman</a>. 
              </p>
              <p>
                Earlier, I completed my B.E. in Computer Science at <a href="https://en.sjtu.edu.cn/">Shanghai Jiao Tong University</a> <a href="https://acm.sjtu.edu.cn/home">ACM class</a>, where I was fortunate to be mentored by Prof. <a href="https://thinklab.sjtu.edu.cn/">Junchi Yan</a> and Prof. <a href="https://www.liang-shiyu.com/">Shiyu Liang</a>. I also had a wonderful time during my research internships at Princeton University with Prof. <a href="https://jasondlee88.github.io/">Jason D. Lee</a>, and at New York University with Prof. <a href="https://jinyangli.github.io/">Jinyang Li</a> and Prof. <a href="https://cs.nyu.edu/~apanda/">Aurojit Panda</a>.
              </p>
              <p style="text-align:center">
                <a href="https://github.com/jhhuang2021">GitHub</a> &nbsp;/&nbsp;
                <a href="https://scholar.google.com/citations?user=AEA--9MAAAAJ">Google Scholar</a> 
              </p>
            </td>
            <td style="padding:5px 2.5%;width:40%;max-width:40%">
              <img style="width:100%;max-width:100%" alt="profile photo" src="images/myself.jpg">
            </td>
          </tr>
        </table>

       
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:5px 2.5%;width:100%;vertical-align:middle">
              <h2>Research </h2><em>(* indicates equal contribution)</em>
              <p style="margin-bottom:0px;">
                I'm interested in machine learning (theory), optimization and interpretability.
              </p>
            </td>
          </tr>

          <tr>
            <td style="padding:0px 2.5% 5px 2.5%;width:100%;vertical-align:middle">

              {% for post in site.posts %}
              {% for cat in post.categories %}
              {% if cat == 'research' %}

              <div style="margin-top:0px; margin-bottom:18px; line-height:1.2;">
                <div class="pub-title-line">
                  <a class="pub-title-main" href="{% if post.website %}{{ post.website }}{% elsif post.arxiv %}{{ post.arxiv }}{% elsif post.pdf %}{{ post.pdf }}{% else %}{{ post.url | relative_url }}{% endif %}">
                    <strong>{{ post.title }}</strong>
                  </a>

                  <span class="pub-links">
                    {% if post.arxiv %}
                    [<a href="{{ post.arxiv }}">arXiv</a>]
                    {% endif %}

                    {% if post.pdf %}
                    [<a href="{{ post.pdf }}">PDF</a>]
                    {% endif %}

                    {% if post.code %}
                    [<a href="{{ post.code }}">GitHub</a>]
                    {% endif %}

                    {% if post.slides %}
                    [<a href="{{ post.slides }}">Slides</a>]
                    {% endif %}

                    {% if post.poster %}
                    [<a href="{{ post.poster }}">Poster</a>]
                    {% endif %}
                  </span>
                </div>

                <div>
                  {{ post.authors }}
                </div>

                <div>
                  <em>{{ post.venue }}</em>, {{ post.date | date: "%Y" }}
                </div>
              </div>

              {% endif %}
              {% endfor %}
              {% endfor %}

            </td>
          </tr>
        </table>
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:20px 2.5% 5px 2.5%;width:100%;vertical-align:middle">
              <h2>Experience</h2>
            </td>
          </tr>

          <tr>
            <td style="padding:5px 2.5%;width:100%;vertical-align:middle">
              <p class="info-item">
                <strong>[2026 Jun. - 2026 Nov.]</strong>
                <span>
                  Student Researcher, <a href="https://research.google/">Google</a>, Los Angeles, CA, advised by
                  <a class="nowrap" href="https://faculty.marshall.usc.edu/Adel-Javanmard/">Prof. Adel Javanmard</a>.
                </span>
              </p>

              <p class="info-item">
                <strong>[2024 Jul. - 2024 Dec.]</strong>
                <span>
                  Research Intern, <a href="https://www.princeton.edu/">Princeton University</a>, Princeton, NJ, advised by
                  <a class="nowrap" href="https://jasondlee88.github.io/">Prof. Jason D. Lee</a>.
                </span>
              </p>

              <p class="info-item">
                <strong>[2024 Jul. - 2024 Dec.]</strong>
                <span>
                  Research Intern, <a href="https://www.nyu.edu/">New York University</a>, New York, NY, advised by
                  <a class="nowrap" href="https://jinyangli.github.io/">Prof. Jinyang Li</a> and
                  <a class="nowrap" href="https://cs.nyu.edu/~apanda/">Prof. Aurojit Panda</a>.
                </span>
              </p>
            </td>
          </tr>
        </table>
        

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:20px 2.5% 5px 2.5%;width:100%;vertical-align:middle">
              <h2>Teaching</h2>
            </td>
          </tr>

          <tr>
            <td style="padding:5px 2.5%;width:100%;vertical-align:middle">
              <p>
                <strong>[FA. 2022]</strong>
                Programming, Teaching Assistant, Shanghai Jiao Tong University.
              </p>

              <p>
                <strong>[SU. 2023]</strong>
                Principle and Practice of Computer Algorithms, Teaching Assistant, Shanghai Jiao Tong University.
              </p>

              <p>
                <strong>[FA. 2023]</strong>
                Data Structure, Teaching Assistant, Shanghai Jiao Tong University.
              </p>

              <p>
                <strong>[SP. 2024]</strong>
                Probability Theory, Teaching Assistant, Shanghai Jiao Tong University.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:20px 2.5% 5px 2.5%;width:100%;vertical-align:middle">
              <h2>Service</h2>
            </td>
          </tr>

          <tr>
            <td style="padding:5px 2.5%;width:100%;vertical-align:middle">
              <p>
                <strong>[Conference Reviewer]</strong>
                ICLR '25-'26, ICML '26, COLM '26, NeurIPS '26.
              </p>
            </td>
          </tr>
        </table>

        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:20px 2.5% 5px 2.5%;width:100%;vertical-align:middle">
              <h2>Miscellaneous</h2>
              <p>
                Besides research, I enjoy playing the violin and making music by myself, which brings me joy and inspiration.
              </p>
            </td>
          </tr>
        </table>
        
        <table style="width:100%;border:0px;border-spacing:0px;border-collapse:separate;margin-right:auto;margin-left:auto;">
          <tr>
            <td style="padding:0px">
              <br>
              <p style="text-align:center;font-size:small;">
                Design and source code from <a style="font-size:small;" href="https://jonbarron.info">Jon Barron's website</a>
                <br>
                © 2025-2026 Jianhao Huang
              </p>

            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>